﻿
@{
    ViewBag.Title = "The Game";
}



<h2>Welcome to the Dice Game, you need to pay before you play!</h2>
<h3>Please set up your initial $10.00 balance</h3>
Enter your first name:
<input id="TextFirstName" type="text" /> <br />
Enter your last name:
<input id="TextLastName" type="text" /> <br />
Enter your phone number:
<input id="PhoneNumber" type="text" /> <br />
Enter your credit card number:
<input id="CreditCard" type="text" /> <br />
@{ int amount = 10;  }
<br />
<input type="button" value="Pay Now" onclick="window.location.href('@Url.Action("Play", "Home", new { id = "10" })')" />



