﻿@model IEnumerable<_420FinalEagleyKasner.Models.Salary>

@{
    ViewBag.Title = "All";
}

<h2>Salaries by State</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobType.Job_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employment)
        </th>
        <th>
            Mean Wage
        </th>
        <th>
            Hourly Percentile
        </th>
        <th>
            Annual Percentile
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmploymentPer1000jobs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location_Quotient)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobType.Job_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlyMeanWage) hourly<br />
            @Html.DisplayFor(modelItem => item.AnnualMeanWage) annually
        </td>
        <td>
            10th: @Html.DisplayFor(modelItem => item.Hourly10thPercentileWage)<br />
            25th: @Html.DisplayFor(modelItem => item.Hourly25thPercentileWage)<br />
            Med: @Html.DisplayFor(modelItem => item.HourlyMedianWage)<br />
            75th: @Html.DisplayFor(modelItem => item.Hourly75thPercentileWage)<br />
            90th: @Html.DisplayFor(modelItem => item.Hourly90thPercentileWage)
        </td>
        <td>
            10th: @Html.DisplayFor(modelItem => item.Annual10thPercentileWage)<br />
            25th: @Html.DisplayFor(modelItem => item.Annual25thPercentileWage)<br />
            Med: @Html.DisplayFor(modelItem => item.AnnualMedianWage)<br />
            75th: @Html.DisplayFor(modelItem => item.Annual75thpercentileWage)<br />
            90th: @Html.DisplayFor(modelItem => item.Annual90thPercentile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmploymentPer1000jobs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location_Quotient)
        </td>
    </tr>
}

</table>
