﻿@model IEnumerable<_420FinalEagleyKasner.Models.ViewModels.ViewModelCityResult>

@{
    ViewBag.Title = "FindCities";
}

<h2>Here are cities matching your request:</h2>
@Html.ActionLink("Change Temperatures", "") | @Html.ActionLink("Home", "", "Home")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.City)
        </th>
        <th>
            Average Temperature
        </th>
        <th>
            Salary vs. Cost of Living
        </th>
        <th>
            Average Dev Salary
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.Cost_of_Living_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.Rent_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.Cost_of_Living_Plus_Rent_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.Groceries_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.Restaurant_Price_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livingCost.Local_Purchasing_Power_Index)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.City), @Html.DisplayFor(modelItem => item.livingCost.State1.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.State1.Temperature.AverageTempF) °F<br />
            @Html.DisplayFor(modelItem => item.livingCost.State1.Temperature.AverageTemperatureC) °C
        </td>
        <td>
            @Math.Round(item.SalaryToCostOfLiving(),2)
        </td>
        <td>
            $@Math.Round(item.livingCost.State1.Salaries.Average(sal => sal.AnnualMeanWage).Value,2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.Cost_of_Living_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.Rent_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.Cost_of_Living_Plus_Rent_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.Groceries_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.Restaurant_Price_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livingCost.Local_Purchasing_Power_Index)
        </td>
    </tr>
}

</table>
