﻿@model _420FinalEagleyKasner.Models.ViewModels.ViewModelCitySearch

@{
    ViewBag.Title = "City Search";
}

<h2>City Search</h2>

@using (Html.BeginForm("FindCities","Browser", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search parameters:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Temperature preference</label>
            <div class="col-md-10">
                Cold @Html.EditorFor(model => model.TemperatureCold)<br />
                Mild @Html.EditorFor(model => model.TemperatureMild)<br />
                Warm @Html.EditorFor(model => model.TemperatureWarm)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find Cities" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
