doctype html
html
    head
        title= title
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        //- link(href="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        //- link(rel='stylesheet', href='/stylesheets/style.css')
        script(data-main='/javascripts/main' src='/bower_components/requirejs/require.js')
    body
        block content
