﻿
@{
    ViewBag.Title = "The Game";
}


<p></p><br />
<h2>Welcome to the Dice Game, you need to pay before you play!</h2>
<h3>Please enter an amount to charge to your credit card.</h3>

@using (@Html.BeginForm("Play", "Home", FormMethod.Post))
{
    <p>
        First name:<br>
        <input type="text" name="TextFirstName" , value="Joe" style="width:150px" /> <br />
        Last name:<br>
        <input type="text" name="TextLastName" , value="Blow" style="width:150px" /> <br />
        Credit Card Number:<br>
        <input type="text" name="CreditCard" , value="12345678" style="width:150px" /> <br />
        Amount to Charge:<br >
        <input type = "text" name = "amount" , value = "10" style = "width:150px" /> <br />
        <input type="submit" value="Submit" />
    </p>
}



