﻿
@{
    ViewBag.Title = "Play";
}

<script language="JavaScript">
    function dice_roll(input) {
        var balance;
        if( document.form.balance.type == "hidden"){
            var y = document.getElementById("balance");
            y.type= "text";
            balance = input;
        }
        else {
            balance =  document.form.balance.value;
        }
        var valueInt = parseInt(balance);
        var roll = 0;
        var d1 = 0;
        var d2 = 0;
        d1 = Math.round(Math.random() * 6) % 6 + 1;
        d2 = Math.round(Math.random() * 6) % 6 + 1;
        roll = d1 + d2;
        if (balance != 0) {
            if (roll == 7 || roll == 11 || d1 == d2) {
                valueInt = valueInt + 1;
                document.form.textLose.value = "Won";
            }
            else {
                valueInt = valueInt - 1
                document.form.textLose.value = "Lost";
                if (valueInt == 0) {
                    document.form.textLose.value = "BUSTED";
                }
            }
            document.form.textD1.value = d1;
            document.form.textD2.value = d2;
            document.form.text.value = roll;
            document.form.balance.value = valueInt;
        }
        else {
            document.form.textD1.value = "";
            document.form.textD2.value = "";
            document.form.text.value = "";
        }
    }
</script>

<center>
    <h2>Let us help you get rid of your excess money.</h2>
    <h3>It is @DateTime.Now</h3>   <br />
    <h2>You started with $@ViewBag.chargeAmmount  </h2>

    <form name= "form">
        Your balance: $<input type="hidden" id="balance" size=5 name=balance value="0" >    <br /><br />
        <input type=button value="Roll Dice" name=button onclick="dice_roll( @ViewBag.chargeAmmount)">   <br /><br />
        Dice 1: <input type=text size=5 name=textD1> <br /><br />
        Dice 2: <input type=text size=5 name=textD2> <br /><br />
        Total: <input type=text size=5 name=text>   <br /><br />
        <input type=text size=5 name=textLose value="" >

</form>
</center>
