﻿
@{
    ViewBag.Title = "The Rules";
}

<h2>Rules</h2>

You must first charge $10 to your credit card to play.
Everytime you bet you either loose a dollar <br />
or gain a dollar, based on winning or losing. <br />
You win when the total of your dice is 7 or 11. <br />
You loose for all other combinations. <br />

