﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best places in the USA to live as a programmer</h1>
    <p class="lead">
        We broke down and analyzed several cities across the US to find out 
        where we can have the cheapest lives and the best pay!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Browse with parameters</h3>
        <p>
            @Html.ActionLink("Browse Cities", "", "Browser")
        </p>
    </div>
    <div class="col-md-4">
        <h3>See the whole database</h3>
        <p>
            @Html.ActionLink("View All Salaries by State", "AllSalaries", "Browser")
        </p>
    </div>
    <div class="col-md-4">
        <h3>Coming soon!</h3>
        <p>
            @Html.ActionLink("Advanced mode", "Advanced", "Browser")
        </p>
    </div>
</div>